.projects{
    
    min-height: 90vh;
    
    padding-left: clamp(2rem, 2rem + 1.875vw, 10rem);
    padding-right: clamp(2rem, 2rem + 1.875vw, 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.projects h1{
    margin-top: 0;
    flex-basis: 30%;
    background-image: url("../../../img/brush_stroke2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects-container{
    
    height: 100%;
    flex-basis: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-small{
    flex-basis: 40%;
    display: flex;
    aspect-ratio: 1.45455/1;
    
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.card-big{
    flex-basis: 55%;
    display: flex;
    aspect-ratio: 2/1;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    
}
.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    
    cursor: pointer;
    
    
}

.card-media{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    
    background-position: center;
    background-size:120%;
    background-repeat: no-repeat;
    z-index: 0;
    transition: all 600ms ease-in-out; 
    will-change: transform;
    -moz-transition: all .6s ease-in-out;
}

.card-title, .card-btn-container{
    flex-basis: 80%;
    
    transform: translateX(-500%);
    z-index: 1;
}

.card-title{
    transition: all 750ms ease-in-out;
    color: var(--light-shade);
}

.card-btn-container{
    transition: all 1000ms ease-in-out !important;
}



.card-actions{
    position: absolute;
    top: 50;
    z-index: 1;
}

.card-big:hover, .card-small:hover{
    .card-media{
        transform: scale(105%);
        -moz-transform: scale(1.05) ;
        will-change: transform;
        filter: blur(5px) brightness(25%);
       
        
    }

    

    .card-title,  .card-btn-container{
        
        
        transform: translateX(0%);
    }
}

.card-big, .card-small{
    flex-grow: 0;
    border-radius: 0.75rem !important;
    background-color: transparent !important;
}

.card-media{
    min-height: 28vh;
    position: relative;
    
    
    padding: 0 !important;
}

.card-small .card-media{
    aspect-ratio: 4/2;
}

.card-big .card-media{
    aspect-ratio: 8/2 !important;
}

#project1-media{
    background-image: url("../../../img/placeholder1.jpg");
    
}

#project2-media{
    background-image: url("../../../img/placeholder2.jpg");
   
}

#project3-media{
    background-image: url("../../../img/placeholder3.jpg");
    
}


#project4-media{
    background-image: url("../../../img/placeholder4.jpg");
    
}







.project-btn{
    color: var(--light-shade) !important;
    border: solid 2px transparent !important;
    border-radius: 0.25rem !important;
}

.project-btn::before,
.project-btn::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.project-btn:hover {
    border: solid 2px transparent !important;
    
    background-color: transparent !important;
}



.project-btn::before {
   
    border: 2px solid transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent!important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    transition: 
    border-left-color 0.1s linear 0.1s,
    border-bottom-color 0.15s linear 0.15s,
    border-right-color 0.2s linear 0.2s,
    border-top-color 0.25s linear 0.25s !important;
}

.project-btn:hover::before {
    border: 2px solid transparent !important;
    border-top-color: var(--main-clr) !important;
    border-right-color: var(--main-clr) !important;
    border-bottom-color: var(--main-clr) !important;
    border-left-color: var(--main-clr) !important;
    
    transition: 
    border-top-color 0.125s linear 0.125s,
    border-right-color 0.175s linear 0.175s,
    border-bottom-color 0.225s linear 0.225s,
    border-left-color 0.275s linear 0.275s !important;
}

.project-btn::after {
    border: 2px solid transparent !important;
    
}

.btn-section{
    /* border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem; */
    background-color: transparent;
    
}