
.about-section{
    min-height: 100svh;
    background-color: var(--shade-clr-2);
    overflow: hidden;
    
}

.about-container{
    /* border: 2px solid red; */
    min-height: 80svh;
}

.about-container div h2{
    text-align: start;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;
}

#title-text-transform{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: calc(10px + 0.5rem);
    color: transparent;
    -webkit-text-stroke-width:  2px;
    -webkit-text-stroke-color: var(--dark-clr);
    
}

#title-text-dash{
    border-radius: 5px;
    height: 5px;
    background-color: var(--main-clr);
}

#personal-img{
    position: relative;
    background-image: url('https://ik.imagekit.io/nvtcacenco/Portfolio/my_img2.webp?tr=w-1200');
    background-position: center;
    background-size: cover;
    aspect-ratio: 1.3/1.7;
    z-index: 3 ;
    background-color: var(--shade-clr-1);
    border-radius: 12px;
    /* box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12); */
}

#img-box-style{
    position: absolute;
    
    width: 100%;
    height: 100%;
    background-color: var(--main-clr);
    right: 0;
    top: 0;
    border-radius: 12px;
    z-index: 1;
    /* box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12); */
}



#about-description-container{
    margin-top: calc(36px + 1rem);
}

#about-description{
    text-align: start;
    margin: 0;
}

#contact-me-btn-container{
    margin-top: calc(36px + 1rem);
}

#contact-me-btn{
    border: 2px solid var(--main-clr);
    color: var(--light-clr);
    background-color: transparent;
    overflow: hidden;
    position: relative;
    transition: color 0.3s ease-in-out;
    font-size: var(--fs-md);
    padding: 1rem;
}

#contact-me-btn p{
    margin: 0;
    position: relative;
}

#contact-me-btn::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-clr);
    transition: transform 0.3s ease-in-out;
}
#contact-me-btn:hover{
    color: var(--dark-clr);
}

#contact-me-btn:hover::before{
    transform: translateY(100%);
}

#about-description-arrow-container{
    
    position: relative;
}

#about-description-arrow{
    position: absolute;
    left: -50%;
    top: -15%;
    background-image: url('../../../img/arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 150%;
    height: 125%;
    
}

@media (width < 576px) {
    .about-container{
        padding-block: calc(36px + 2rem);
    }

    .about-container div h2{
        font-size: var(--fs-2xl) !important;
        text-align: center;
    }

    #contact-me-btn{
        margin-inline: auto;
    }
    
}