
:root{
    --padding-inline: clamp(2rem, 2rem + 1.875vw, 10rem);
}

.aboutme-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    
    position: relative;
    min-height: 90vh;
    
    background-color: transparent;
    padding-left: var(--padding-inline);
    padding-right: var(--padding-inline);
    

   
}

.about-section{
    display: flex;
    flex-direction: column;
    column-gap: 0;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    background-color: transparent;
    border-radius: 1rem !important;
    width: calc(38% - var(--padding-inline));
    
    text-align: start;
    padding: 1rem;
}

.about-section h2{
    margin-top: 0 !important;
    
}
.about-title{
    color: var(--main-clr);
    font-weight: 600;
    margin-top: 0 !important;
    margin-bottom: 0.125rem !important;
    font-size: clamp(0.5rem, 0.75vw + 0.5rem, 3rem) !important;
}

.about-section h2{
    
    margin-bottom: 0 !important;
}

.about-section h4{
    margin-top: 1.25rem !important;
}





.about-pic{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: calc(35% - var(--padding-inline));
    aspect-ratio: 1/1.225;
    
    
    background-image: url('../../../img/cv_img.jpg');
    background-size: cover;
}


.btn-cv{
    
    background-color: var(--light-accent) !important;
    border: 2px solid var(--light-accent) !important;
    border-radius: 0.25rem !important;
    z-index: 1;
    position: relative !important;
    outline: 0;
    overflow: hidden;
}

.btn-cv-txt{
    
    font-size: clamp(0.375rem, 0.5vw + 0.375rem, 3rem) !important;
    font-weight: 600 !important;
    letter-spacing: 0.175rem !important;
    margin-bottom: 0;
    margin-top: 0;
}

.fill2:before {
    content: "";
    position: absolute;
    background: var(--dark-shade);
    bottom: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transition: bottom 200ms ease-in;
    color: var(--light-shade) !important;
    
}
.fill2{
    color: var(--light-shade) !important;
    background-color: var(--dark-shade);
}
.fill2:hover{
    color: var(--light-shade) !important;
    background-color: var(--dark-shade);
}

.fill2:hover:before {
    bottom: 0;
    border: none !important;
    color: var(--light-shade) !important;

    background-color: var(--dark-shade);
}

.open-cv-icon{
   margin-left: 0.75rem;
    height: 1.706rem !important;
}





