.footer{
    
    width: 100%;
    
    min-height: 10rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--dark-shade);
    color: var(--light-shade);
    
}

.footer-container{
   display: flex;
   align-items: center;
   justify-content: space-around;
   min-width: 90%;
   max-height: fit-content;
}

.footer-section{
    display: flex;
    max-height:1.5rem;
    align-items: center;
    justify-content: center;
    
    padding-inline: 1rem;
    column-gap: 1rem;
    cursor: pointer;
}

.footer-container a{
    text-decoration: none;
    color: var(--light-shade);
}


.icon-clr{
    color: var(--main-clr) !important;
}





